<section id="contact" class="py-14 px-6" [@fadeInUp]="showAnimation ? 'true' : 'false'">
  <div class="container mx-auto max-w-4xl text-center">
    <h2 class="text-4xl font-bold mb-6">Get in Touch</h2>
    <p class="text-lg text-gray-300 mb-6">
      <a href="https://www.google.com/maps/place/88000+Mostar/" target="_blank"
        class="hover:text-white transition-colors">Mostar, Bosnia and Herzegovina</a>
    </p>
    <p class="text-lg text-gray-300 mb-6">
      <a href="mailto:hasanrahic604@gmail.com" class="hover:text-white transition-colors">hasanrahic604@gmail.com</a>
    </p>
    <div class="flex justify-center space-x-6 text-center">
      <a href="https://github.com/hasanrahic" target="_blank"
        class="text-2xl hover:text-blue-400 transition-colors duration-300 transform hover:scale-110">
        Github
      </a>
      <a href="https://www.linkedin.com/in/hasan-rahi%C4%87-3941b2255/" target="_blank"
        class="text-2xl hover:text-blue-400 transition-colors duration-300 transform hover:scale-110">
        Linkedin
      </a>
    </div>
    <p class="text-sm text-gray-500 mt-8">Born September 5th, 2003</p>
  </div>
</section>